<% provide(:title, 'Log in') %>

<div id="form">
  <p class="form-title1">Cafe Vista</p>
  <p class="form-title">ログイン</p>
  <%= form_with(url: login_path, scope: :session) do |f| %>

    <p>メールアドレス</p>
    <p class="mail">
      <%= f.email_field :email, class: 'form-control' %>
    </p>


    <p>パスワード</p>
    <p class="pass">
      <%= f.password_field :password, class: 'form-control' %>
    </p>

    <p><%= link_to "パスワードを忘れた場合", new_password_reset_path %></p>

    <p class="submit">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </p>
  <% end %>
  <p>登録がまだの方→<%= link_to "新規登録", signup_path %></p>
</div>
